/* HEADER */
@media (max-width: 900px) {
    header {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 6px 25px 6px 13px;
    }

    .burgericon {
        display: none;
    }

    /* ARTICLE */
article {
    padding: 31px 67px;
        margin: auto;        
    }

    .traveltext {
        width: 80%;
    }

    /* SECTION1 */
    .card3 {
        display: none;
    }
  
}

@media (max-width: 610px){
    /* Header  */
    header {
        width: 120%;
        margin: auto;
        display: flex;
        
       
    }

    .leftheader {
        display: flex;
        color: #FA793C;
        font-family: Pridi;
        font-size: 18px;
        font-weight: 400;
    }

    nav {
        display: none;
    }

    .burgericon {
        display: flex;
    }

    /* ARTICLE */

    article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        width: 120%;

        
    }
    h1 { 
        font-size: 40px;
       

    }
    .traveltext {
        width: 100%;
    }
    /* SECTION1 */

    .section1 {
        width: 100%;
        padding: 48px 10px;
        margin-left: 60px;
        
    }

    
    .figurecontainer {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin-top: 48px;
    
    }

    figure {
        display: flex;   
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid #000;
        padding-bottom: 11px;
    
    }

}