.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* HEADER */
header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

.burgericon {
    display: none;
}

.leftheader {
    display: flex;
    align-items: center;
    color: #FA793C;
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
}

.rightheader {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    margin-right: 14px;
}

.user {
    margin-left: 40px;
}

/* ARTICLE */
article {
    height: 550px;
    margin: auto;
    background-image: url(../images/cover.png);
    width: 100%;
    padding: 101px 130px;
}

h1 {
    color: #FFF;
    font-family: Kanit;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 21px;
}

.traveltext {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* SECTION1  */
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 130px;
}

.discovery {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.figurecontainer {
    display: flex;
    gap: 20px;
    margin-top: 34px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000;
    padding-bottom: 11px;
}

h3 {
    color: #000;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

figcaption {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 18px 21px 28px 20px;
}

.clock {
    margin-left: 21px;
    margin-right: 11px;
}

.card {
    width: 100%;
}

/* SECTION2 */
.section2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 130px;
}

h4 {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: max-content;
    margin-bottom: 31px
}

.threecarddiv {
    display: flex;

}

.smallcarddiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    row-gap: 20px;
}

.smallcard {
    width: 380px;
    height: 190px;
}

.photograph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/Rectangle\ 12.png);
    background-repeat: no-repeat;
    height: 400px;
    padding-left: 36px;
    width: 780px;
}


h5 {
    color: #FFF;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    width: max-content;
}

.happen {
    width: 60%;
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
    width: 1440px;
    max-width: 100%;
}